[Unit]
Description=Update Cloudflare DNS record for Palworld

[Service]
Type=oneshot
User=root
Group=root
EnvironmentFile=-/etc/palworld/palworld.env
ExecStart=/srv/storage/steam/bin/cloudflare-update-dns.sh
