[Unit]
Description=Collect Palworld local statistics every 20 seconds

[Timer]
OnBootSec=30s
OnUnitActiveSec=20s
AccuracySec=1s
Unit=palworld-stats.service

[Install]
WantedBy=timers.target
