[Unit]
Description=Update Palworld dedicated server

[Service]
Type=oneshot
User=root
Group=root
Nice=19
IOSchedulingClass=idle
CPUWeight=10
IOWeight=10
EnvironmentFile=-/etc/palworld/palworld.env
ExecStart=/srv/storage/steam/bin/palworld-update.sh
