[Unit]
Description=Collect Palworld local statistics
After=palworld.service

[Service]
Type=oneshot
User=steam
Group=steam
Nice=15
IOSchedulingClass=idle
CPUQuota=10%
CPUWeight=10
IOWeight=10
ExecStart=/srv/storage/steam/bin/palworld-stats-collect.py
